<h1>Editing Support</h1>
<div class='form-block'>
  <%= render 'form', support: @support %>
</div>

<%= link_to 'Show', @support, class:'btn btn-default show-btn' %>
<%= link_to 'Back', supports_path, class: 'btn btn-info back-btn' %>
